$body-bg: #111111;
$body-color: white;


@import "node_modules/bootstrap/scss/bootstrap";

.navbar-brand {
    font-size: 1.5rem;
}

.item {
    margin: 0.25rem 0;
    border: 1px solid $gray-700;
    padding: 0.25rem;

    table {
        width: 100%;

        td:first-child {
            white-space: nowrap;
        }

        td:last-child {
            width: 100%;
        }
    }
}

.item-semicollapsed {
    margin: 0.25rem 0;
    border: 1px solid $gray-700;
    padding: 0.25rem;
    cursor: pointer;
}

.item-semicollapsed:hover .link {
    text-decoration: underline;
}

.item+.item-sep {
    display: none;
}

.item-collapsed {
    text-decoration: underline;
    cursor: pointer;
}

.item-collapsed:hover {
    color: white !important;
}
